<div class="logged_out_home text-center jumbotron text-light">
  <h2 class='mb-5'>You will find true love.</h2>
  <%= link_to "Sign up now !", new_user_registration_path, class: "btn btn-lg btn-danger" %>
</div>