<head>
  <title>Politique de confidentialité</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Politique de confidentialité.</h1>
  <p>
    Nous nous engageons à ne collecter aucun renseignement personnel, d'aucune sorte que ce soit.
  </p>
</body>