@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';

@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600|Lobster|Pacifico&display=swap&subset=cyrillic,cyrillic-ext');
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Cairo', sans-serif;

/* tweaking bootstrap 4 */

// $theme-colors: (
//   "primary":#0580d3,
//   "secondary": #0c8f22
// );

/* mixins, variables, etc. */

// $gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
};


h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

body {
  font-family: 'Cairo', sans-serif;
  font-size: 24px;
}

/* miscellaneous */

.debug_dump {
  @extend .border, .border-dark, .p-3, .mt-5, .bg-secondary;
}

.alert-notice {
  @extend .alert-success
}

.alert-alert {
  @extend .alert-danger
}

.new_user {
  @extend .border, .border-dark, .rounded, .col-4, .mx-auto, .p-2, .was-validated, .text-center;
  h2 {
    @extend .mb-4;
  }
  .field {
    // @extend .text-left;
    em {
      @extend .small;
    }
  }

  .actions {
    input {
      @extend .mt-4, .btn, .btn-lg, .btn-danger;
    }
  }

}


.logged_out_home {
  background-image: url('~images/amour-1.jpeg');
  background-size: cover;
}
