<footer class='mt-5 border-top border-grey pt-2'>
  <div class='small float-right font-italic'>
    Made with <i class="fas fa-heart mx-1"></i>, by
    <%= link_to 'Maximilien Pressensé', 'https://mpressen.github.io/', target: '_blank', class: 'text-dark font-weight-lighter'%>
  </div>
</footer>