<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MATCHA", root_path, id: "logo", class: 'text-danger display-4 text-decoration-none'%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'text-dark' %></li>
        <% else %>
        <% if controller_name == 'sessions' && action_name == 'new' %>
        <li><%= link_to "Sign up", new_user_registration_path, class: 'text-dark' %></li>

        <% else %>
        <li><%= link_to "Log in", new_user_session_path, class: 'text-dark' %></li>
        <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>